@font-face {
  font-family: Roboto-Black;
  src: url("../../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-Medium;
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../../fonts/Roboto-Thin.ttf");
}
/* Grid system for dividing the page into multiple
It takes the complete width of the screen */
div {
  padding: 0px;
  margin: 0px;
}
.container {
  display: table;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.row {
  height: fit-content;
  border: none;
  display: table;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
/* Divides the page into two sectons, vertically */
.col-2 {
  width: 50%;
  display: inline-block;
}
/* Divides the page into three sectons, vertically */
.col-3 {
  width: 33.33%;
  display: inline-block;
}
/* Divides the page into four sections, vertically */
.col-4 {
  width: 25%;
  display: inline-block;
}
.col-5 {
  width: 20%;
  display: inline-block;
}
.col-6 {
  width: 100px;
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 10px 10px 0px;
  text-align: center;
}
/* Creates a column which covers 3/4 th section of the page, vertically */
.col-34 {
  width: 66.66%;
  display: inline-block;
}
.panel {
  width: 95%;
  margin-top: 55px;
  margin-left: 55px;
  padding: 40px 40px 0px 40px;
  overflow-x: auto;
  /* overflow-y: auto; */
}
/* Property for the heading */
.main-heading {
  /* font-size: 3vw; */
  font-size: 41px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Roboto-Black;
}
.heading {
  /* font-size: 1.9vw; */
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Roboto-Medium;
  color: rgb(80, 79, 79);
}
.sub-heading {
  font-size: 22px;
  text-transform: capitalize;
  font-family: Roboto-Medium;
  color: rgb(80, 79, 79);
}
/* Defines property for the clickable button */
.btn {
  width: fit-content;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.25);
}
/* Property for button indicating success */
.success-btn {
  /* background-color: #08a88d; */
  background-color: rgb(0, 98, 135);
}
/* Property for button indicating warning */
.warning-btn {
  background-color: #fc3b3b;
}
/* Apply shadow for the button on mouse over */
.btn:hover {
  box-shadow: 1px 1px 4px 1px grey;
}
/* styling property for messages */
.msg {
  font-size: 14px;
  text-transform: capitalize;
}
.error-msg {
  color: red;
  margin: 0px;
  text-align: center;
}
.success-msg {
  color: green;
  margin: 0px;
  text-align: center;
}
/* Styling properties for the table */
table {
  border-collapse: collapse;
  width: max-content;
  width: 100%;
  margin: 10px 0px;
  /* box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -12px -12px 16px 0 rgba(0, 0, 0, 0.03); */
}
th,
td {
  padding: 5px 0px;
  text-align: center;
  font-family: Roboto-Regular;
}
th {
  font-size: 1.2vw;
  font-weight: bold;
}
td {
  font-size: 1.1vw;
}
tr:nth-child(even) {
  background-color: lightgray;
}
tr th {
  background-color: darkgray;
}
.table-border-bottom tr {
  border-bottom: 1px solid black;
}
/* Styling property for the form element */
form {
  margin: 10px 0px;
}
label {
  font-size: 16px;
  font-family: Roboto-Regular;
}
.label {
  font-size: 16px;
  font-family: Roboto-Regular;
  float: left;
  width: 200px;
  padding: 7px;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="tel"],
select {
  padding: 8px;
  border: 0px;
  border-bottom: 1px solid #ccc;
  /* box-shadow: 1px 1px 6px 1px grey; */
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 250px;
  font-size: 15px;
  background: white;
  color: black;
}
input[type="radio"] {
  width: 15px;
  height: 15px;
}
.small-input {
  width: 180px;
}
.large-input {
  width: 350px;
}
input::placeholder,
select::placeholder {
  font-size: 15px;
  color: gray;
}
.input-group {
  display: block;
  padding: 5px 0px;
}
.right {
  float: right;
  margin-right: 10px;
}
.circle {
  width: 0px;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
}
.circle-heighlight {
  width: 0px;
  padding: 20px;
  border-radius: 20px;
  border: 0.5px solid gray;
  background-color: rgba(0, 0, 0, 0.1);
}
.panic {
  width: 0px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0);
}
.panic-heighlight {
  width: 0px;
  padding: 20px;
  border-radius: 20px;
  border: 0.5px solid gray;
  background-color: rgba(255, 0, 0, 0.1);
}
.panicIcon {
  color: rgba(255, 0, 0);
}
.circle-big {
  padding: 15px;
  border-radius: 15px;
}
.square {
  width: 0px;
  padding: 5px;
  background-color: black;
}
.square-big {
  width: 0px;
  padding: 15px;
}
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /*enablescroll if needed */
  background-color: rgb(128, 128, 128, 0.5); /*Background color*/
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 25%;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 4px lightgray;
  padding: 20px;
  overflow: auto;
  font-family: Roboto-Regular;
}
.btn-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Other properties defined here */
#facilityW,
#facilityH {
  width: 10%;
}
.colorBlock {
  width: 49.5%;
  background-color: rgb(2, 167, 140, 0.2);
  margin-right: 3px;
  padding: 1%;
  margin-top: 10px;
}

/* Animation effects */
/* For fading the elements */
.fading {
  animation: fading 1.5s;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* For blinking the tags on floor map on alert generation */
.blink {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive code */
@media only screen and (max-width: 950px) {
  .colorBlock {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 701px) and (max-width: 900px) {
  .col-4 {
    width: 33.33%;
  }
  .colorBlock {
    width: 100%;
    display: block;
  }
}

@media only screen and (min-width: 550px) and (max-width: 700px) {
  .col-4 {
    width: 49%;
  }
  .col-3 {
    width: 100%;
  }
  .colorBlock {
    width: 100%;
    display: block;
  }
}

@media only screen and (min-width: 150px) and (max-width: 549px) {
  .col-4 {
    width: 99%;
  }
  .col-3 {
    width: 100%;
  }
  .colorBlock {
    width: 100%;
    display: table;
  }
}

@media screen and (max-width: 557px) {
  #facilityW,
  #facilityH {
    width: 250px;
  }
}
